<style>
.suko-cell {
   height: 100px;
   width: 100px;
   background-color: black;
}
.circle-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.circle-con-four {
    background-color: rgb(255, 208, 0);
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
.circle-con-three {
    background-color: rgb(255, 145, 0);
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
.circle-con-two {
    background-color: red;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
.circle-nums {
    float: left;
    text-align: left;
    width: 60px;
    padding-top: 115px;
}
.w {
    position: relative;
    background-color: white;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    top: 130px;
    left: 80px;
    z-index: 99;
    display: inline-block;
}
.x {
    position: relative;
    background-color: white;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    top: 130px;
    left: 135px;
    z-index: 99;
    display: inline-block;
}
.y {
    position: relative;
    background-color: white;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    top: 235px;
    left: -20px;
    z-index: 99;
    display: inline-block;
}
.z {
    position: relative;
    background-color: white;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    top: 235px;
    left: 35px;
    z-index: 99;
    display: inline-block;
}
</style>

<label>left top: <input name="w" id="wInput" type="number" value="" /></label><br />
<label>right top: <input name="x" id="xInput" type="number" value="" /></label><br />
<label>left bottom: <input name="y" id="yInput" type="number" value="" /></label><br />
<label>right bottom: <input name="z" id="zInput" type="number" value="" /></label><br />
<br />

<label>Yellow: <input name="m" id="mInput" type="number" value="" /></label><br />
<label>Orange: <input name="n" id="nInput" type="number" value="" /></label><br />
<label>Red: <input name="o" id="oInput" type="number" value="" /></label><br />

<div class="circle-nums">
    <div id="mOption" class="m circle-con-four"><span class="circle-con"><span id="m"></span></span></div> <br />
    <div id="nOption" class="n circle-con-three"><span class="circle-con"><span id="n"></span></span></div> <br />
    <div id="oOption" class="o circle-con-two"><span class="circle-con"><span id="o"></span></span></div>
</div>

<div>
<table style="text-align: center;">
<div class="w"><span class="circle-con"><span id="w"></span></span></div>
<div class="x"><span class="circle-con"><span id="x"></span></span></div>
<div class="y"><span class="circle-con"><span id="y"></span></span></div>
<div class="z"><span class="circle-con"><span id="z"></span></span></div>

<tr>
    <td id="a" class="suko-cell"></td>  <td id="b" class="suko-cell"></td>  <td id="c" class="suko-cell"></td>
</tr>

<tr>
    <td id="d" class="suko-cell"></td>  <td id="e" class="suko-cell"></td>  <td id="f" class="suko-cell"></td>
</tr>

<tr>
    <td id="g" class="suko-cell"></td>  <td id="h" class="suko-cell"></td>  <td id="i" class="suko-cell"></td>
</tr>

</table>

</div>

<button id="solve">Solve</button>

<script>
function setCircleValue(circleName) {
    return (event) => {
        var value = parseInt(event.target.value);
        var circleElement = document.querySelector('#' + circleName);
        knownVariables[circleName] = value;
        circleElement.innerHTML = '<span>' + value + '</span>';
    }
}

var wInput = document.querySelector('#wInput');
var xInput = document.querySelector('#xInput');
var yInput = document.querySelector('#yInput');
var zInput = document.querySelector('#zInput');

wInput.addEventListener('change', setCircleValue('w'));
xInput.addEventListener('change', setCircleValue('x'));
yInput.addEventListener('change', setCircleValue('y'));
zInput.addEventListener('change', setCircleValue('z'));

var mInput = document.querySelector('#mInput');
var nInput = document.querySelector('#nInput');
var oInput = document.querySelector('#oInput');

mInput.addEventListener('change', setCircleValue('m'));
nInput.addEventListener('change', setCircleValue('n'));
oInput.addEventListener('change', setCircleValue('o'));

// Once values are set we should setout the options
// Input by user
var knownVariables = {
    w: 11,
    x: 16,
    y: 18,
    z: 26,
    m: 19,
    n: 14,
    o: 12,
};

// Created by selecting which boxes correspond to each of the colors

var sums = {
    w: ['a', 'b', 'd', 'e'],
    x: ['b', 'c', 'e', 'f'],
    y: ['d', 'e', 'g', 'h'],
    z: ['e', 'f', 'h', 'i'],
    m: [],
    n: [],
    o: [],
};

var positionVariables = {
    a: 0,
    b: 0,
    c: 0,
    d: 0,
    e: 0,
    f: 0,
    g: 0,
    h: 0,
    i: 0,
};

function sumOptions(array) {
    var sum = 0;
    for (var i = 0; i < array.length; i++) {
        sum += positionVariables[array[i]];
    }
    return sum;
}

function verifySum(array, expectedValue) {
    return sumOptions(array) === expectedValue;
}

function verifySums(key) {
    return verifySum(sums[key], knownVariables[key]);
}

// Verify Puzzle
function verifyPuzzle() {
    var sumsValidArray = Object.keys(sums).map((key) => {
        return verifySums(key);
    });

    return sumsValidArray.every((item) => item === true);
}


// Create a permutation generator
// https://stackoverflow.com/a/20871714/1686511

function permutator(inputArr) {
  var result = [];

  function permute (arr, m = []) {
    if (arr.length === 0) {
      result.push(m)
    } else {
      for (var i = 0; i < arr.length; i++) {
        var curr = arr.slice();
        var next = curr.splice(i, 1);
        permute(curr.slice(), m.concat(next))
     }
   }
 }

 permute(inputArr)

 return result;
}

function solve() {
    var foundResult = false;
    var loops = 0;

    var allOptions = permutator([1,2,3,4,5,6,7,8,9]);

    for (var i = 0; i < allOptions.length; i++) {

        if (!foundResult) {
            var currentOptions = allOptions[i];

            positionVariables['a'] = currentOptions[0];
            positionVariables['b'] = currentOptions[1];
            positionVariables['c'] = currentOptions[2];
            positionVariables['d'] = currentOptions[3];
            positionVariables['e'] = currentOptions[4];
            positionVariables['f'] = currentOptions[5];
            positionVariables['g'] = currentOptions[6];
            positionVariables['h'] = currentOptions[7];
            positionVariables['i'] = currentOptions[8];

            foundResult = verifyPuzzle();
        }
        loops++;
    }

    if (!foundResult) {
        alert('Failed to find a result for entered data. Sorry.');
    } else {
        Object.keys(positionVariables).forEach((key) => {
            console.log(key);
            var element = document.querySelector(`#${key}`);
            element.innerHTML = positionVariables[key];
            console.log(element);
        });

        console.log(`Solved the puzzle: ${positionVariables}`);
    }
}

var solveButton = document.querySelector('#solve');

solveButton.addEventListener('click', solve);

// Setup click handlers for the "m" "n" "o"
var mCircle = document.querySelector('#mOption');
var nCircle = document.querySelector('#nOption');
var oCircle = document.querySelector('#oOption');

var currentCircle = null;

document.querySelectorAll('td').forEach((element) => {
    element.addEventListener('click', (event) => {
        // Do nothing if there is no circle
        if (currentCircle === null) {
            return;
        }

        // Setup the sums
        var cell = event.target;
        var selectedSquare = cell.id;

        if (currentCircle === 'm') {
            sums['m'].push(selectedSquare);
            cell.style.backgroundColor = 'rgb(255, 208, 0)';
            sums['n'] = sums['n'].filter(item => item !== selectedSquare);
            sums['o'] = sums['o'].filter(item => item !== selectedSquare);
        } else if (currentCircle === 'n') {
            sums['n'].push(selectedSquare);
            cell.style.backgroundColor = 'rgb(255, 145, 0)';
            sums['m'] = sums['m'].filter(item => item !== selectedSquare);
            sums['o'] = sums['o'].filter(item => item !== selectedSquare);
        } else if (currentCircle === 'o') {
            sums['o'].push(selectedSquare);
            cell.style.backgroundColor = 'red';
            sums['n'] = sums['n'].filter(item => item !== selectedSquare);
            sums['m'] = sums['m'].filter(item => item !== selectedSquare);
        }
    });
});

mCircle.addEventListener('click', (event) => {
    currentCircle = 'm';
});

nCircle.addEventListener('click', (event) => {
    currentCircle = 'n';
});

oCircle.addEventListener('click', (event) => {
    currentCircle = 'o';
});

</script>